body {
    background-color: #0a0a0a;
    color: #69cdff;
    display: grid;
    place-items: center;
}

input {
    outline: none;
    padding: 12px 20px;
    margin: 0px 0;
    box-sizing: border-box;
    border: none;
    background-color: #69cdff;
    color: white;
    border-radius: 12px;
  }

div{
      max-width: 50ch;
}

a{
    text-decoration: none;
    color: #0081c2;
    margin: 5%;
}

::placeholder{
    color: white;
    opacity: 0.5;
}